<%= render :partial=>'layouts/header' %>

<button onclick = "goback()">Back</button>
<div class = "col-md-6 col-md-offset-2">
	Search whether your question is already present or not	
	</br>
	<%= form_tag new_question_path,method: 'get' do %>
	<%= text_field_tag :questionterm %>
	<%= submit_tag 'Ask',id: 'ask',class: 'btn btn-primary' %>
	<% end %>
</div>



