<div class= "col-md-8 col-md-offset-2">
	<div class = "center jumbotron">
	<%# label(:domain, "#{feed.domain.name}") %>
	<% @article.domains.each do |domain| %>
		<%= label(:domain,"#{domain.name}") %>
	<% end %>
	</br>
	<h3><%= @article.title.html_safe %></h3>
	</br>
	<p><%= @article.body.html_safe %></p>
	</br>
	</div>
</div>
