<%= form_for(grouparticlereply) do |f| %>
  <% if grouparticlereply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grouparticlereply.errors.count, "error") %> prohibited this grouparticlereply from being saved:</h2>

      <ul>
      <% grouparticlereply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
