<li>
		<%= render(:partial=> 'common/mini_pic_loader',:object=>grouparticlereply.user ,:as => :entity) %>	
	<strong><%= articlereply.user.name %></strong>
	<%= grouparticlereply.body.html_safe %><br>
	<%= grouparticlereply.created_at.strftime("%d %b,%Y") %>
</li>
