	<%= render(:partial=> 'common/mini_pic_loader',:object=>notification.actor ,:as => :entity) %>
	<a id = "<%= notification.id %>" href="<%= notification.link %>" ><%= notification.message %></a>
				</br>
