<%= render :partial=> 'layouts/header' %>

<%= link_to 'Back',:back %>

<div class = "row">
<div class = "col-md-offset-3 col-md-6">
<ul>
			<% if current_user.notifications.any? %>
				<%= render current_user.notifications %>
			<% else %>
			<li>No notifications</li>
			<% end %>
			</ul>
			
</div>
</div>
