var notification_container = $('#notification-container').length;

if(notification_container > 0)
{
	if(<%= @notifications.count %> > 0)
	$('#notification-container').html('<%= escape_javascript(render @notifications) %>');
	else
	$('#notification-container').html('<li class = "individual_notification">No new Notifications</a>');
}
//	alert(<%= @notifications.count %> > 0);
	
	$('#notification_count').html('<%=( @notifications.count > 0 ? @notifications.count :  "" ) %>');
