<%= render partial: 'layouts/header' %>


<%= link_to 'Back',:back %>

<div class = 'row'>
<div class = 'col-md-offset-4 col-md-4'>
	<ul id =  "notification-container">
			<% if @notifications.count > 0 %>
				<%= render @notifications %>
			<% else %>
				<li class = "individual_notification">No notifications</li>
			<% end %>
			</ul>
			
</div>
</div>
