<%= render :partial=>'layouts/header' %>

<% @groups.each do |group| %>
	<div class="content-container">
		<div class="containing-div clearfloat">
			<div class="content-date">
				<%= render partial: 'common/mini_pic_loader', object: group, as: :entity %>
			</div>
			<div class="question-answers-number">
				<%= pluralize group.members.count, 'Member' %>
			</div>
		</div>
		<%= link_to group.name, group, class: "content-title" %>
	</div>
<% end %>
