<div class = "modal-dialog">
<div class = "modal-content">
<div class = "modal-header">
<button type = "button" class = "close" data-dismiss = "modal" aria-hidden= "true>x</button>
</div>

<div class = "modal-body">
Academics
</br>
<%= text_field_tag :academic_tokens,nil,'data-url'=>domains_path(:format=>:json),"data-add"=>addacademic_user_path(:format=>:json),"data-remove"=>removeacademic_user_path(:format=>:json),"data-prepopulate"=>prepopulateacademic_user_path(current_user,:format=>:json),:style=>"width: 30%" %>
	<button type = "button" class = "close" data-dismiss = "modal" aria-hidden= "true>Done</button>
</div>
</div>
</div>
