<%= render :partial=>'layouts/header' %>
<div class = 'row'>
<div class='col-md-6 col-md-offset-3 col-xs-12 col-sm-12'>
<ul class = 'group_index'>
	Your groups
	<% @groups.each do |group| %>
	<li class = 'individual_group'>
			<%= render(:partial=> 'common/mini_pic_loader',:object=>group ,:as => :entity) %>	
		<%= link_to group.name ,group_path(group.id) %>
		</br>
		<h6><%= group.members.count %> Members</h6>
		</li>
		</br>
	<% end %>
</ul>
</div>
</div>
