<%= form_for(current_user.badgroupanswerrelations.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :answer_id, groupanswer.id %></div>
  <%= f.submit "Downvote", class: "btn btn-primary" %>
<% end %>
