<%= form_for(groupanswer) do |f| %>
  <% if groupanswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groupanswer.errors.count, "error") %> prohibited this groupanswer from being saved:</h2>

      <ul>
      <% groupanswer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
