<%= form_for(articlereply) do |f| %>
  <% if articlereply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articlereply.errors.count, "error") %> prohibited this articlereply from being saved:</h2>

      <ul>
      <% articlereply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
