<div class = "col-md-8 col-md-offset-2">
	<div class = "center jumbotron">
		</br>
		<h3><%= @grouparticle.title.html_safe %></h3>
		</br>
		<p><%= @grouparticle.title.html_safe %></p>
		</br>
	</div>
</div>
