html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: auto;
}
// the rules above are very important, don't ever change them

body {
  position: static;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #000;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


// used clearfloat cuz clearfix was taken by Bootstrap
.clearfloat:before,
.clearfloat:after {
  content: "";
  display: table;
}

.clearfloat::after {
  clear: both;
}
