.name_change{
	border: 1px solid;
	padding-bottom: 2%;
}
.password_change{
	border: 1px solid;
	padding-bottom: 2%;
	
}

.head_name_change{
	border-bottom: 1px solid;
	margin-bottom: 2%;

}

.head_password_change{
	border-bottom: 1px solid;
	margin-bottom: 2%;

}
