.body_container{

/*border-top: 2px solid; */
padding: 1%;

}

.feed_container{
	border-top: 1px solid;
}
.domain_container
{
font-size: 16px;
}

.title_container{
	font-size: 24px;
	padding: 0%;				
}

.description_container{
	font-size: 16px;
	width: 100%;
	padding: 0%;
}


.asked_container{
font-size: 12px;

}

#group_name{
border-top: 1px solid;
border-bottom: 1px solid;
}

.group_names{

font-size: 14px;
}
