.body_container{

/*border-top: 2px solid; */
padding: 1%;
}

.replies_area{
	box-shadow: 5px 5px 2px #888888;
	border: 1px solid #bfbfbf;
}
.individual_reply
{
	border: 1px solid #e6e6e6;
	background: #f2f2f2;
}
.reply_button{
	background: #99ccff;
	border-radius: 5px;
	border: 1px solid #0066ff;
}

.feed_container{
	border: 1px solid #bfbfbf;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: lighter;
	box-shadow: 10px 10px 2px #888888;
}
.domain_container
{
font-size: 16px;
font-weight: lighter;
}
.domain_container>em{
	background: #ff9966;
	border-radius: 10px;
	padding-left: 4px;
	padding-right: 4px;
	color: white;
	font-size: 15px;
	@media(max-width: 400px)
		{
			font-size: 13px;
		}
	:hover{
		background: #cc6699;
		color: white;
		text-decoration: none;
	}
}

.title_container_show, .title_container>strong{
	font-size: 20px;

	:hover{
		background: grey;
		text-decoration: none;
	}

	@media(max-width: 400px)
	{
		font-size: 15px;
	}

}

.title_container{
	font-size: 24px;
	padding: 0%;
}

.description_container{
	font-size: 16px;
	@media(max-width: 400px)
	{
		font-size: 12px;
	}

	width: 100%;
	border-bottom: 1px groove;
	color: grey;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	padding-top: 2%;
	font-weight: lighter;
}


.feed_created_at{
font-size: 12px;
font-weight: lighter;
@media(max-width: 400px){
	font-size: 9px;
}
}

#group_name{
border-top: 1px solid;
border-bottom: 1px solid;
}

.group_names{

font-size: 14px;
}
.answer_tag{
color: darkslategrey;
}

.answers_tag{

border-top: 1px groove;
}

.answer_container{
border-top: 1px groove;
padding-left: 2%;
padding-right: 2%;
}
.answer_created_at{
color: grey;
}

.answer_body{
padding-left: 3%;
padding-right: 3%;
font-family: arial;
/* font-weight: lighter;  */
font-size: 14px;
}

.article_body_container{

font-size: 14px;
}

.downvote_answer{

}

.upvote_answer{
}

/*
.social_share_tag{
padding-top: 1%;
}
*/
.category{
padding-bottom: 1%;
}
