header{
z-index: 999999 !important;
background: aqua;
height: 42px;
}


.header_container{
position: absolute;
width: 100%;
background: aqua;
height: 100%;
}

#sign_in_header>li:last-child{
	float:right;
	padding-right: 15px;
	padding-left: 0px;
}
