@import "bootstrap-sprockets";
@import "bootstrap";


header{
position: relative;
}

body{
	position: relative;
	padding-top: 60px;	
	}
	
	#modal-window{
		position: relative;
	}
	
	#interestmodal-window{
		position: relative;
	}
	
	#academicmodal-window{
		position: relative;
	}
	
	.modal{
	/*	display: block;   */
		}
		
	.modal-dialog{
		overflow-y: initial;
		}
		
	.modal-body{
		height: 250px;
		overflow-y: auto;
	}
	
	.modal-fade
	{
	
	}
	.modal-backdrop{
		/* data-backdrop: none; */  
	}
