.image_column{
	padding-top: 1%;
	text-align: center;
	border: 1px groove;
	box-shadow: 1px 1px 1px #888888;
#image{
	margin: auto;
	max-width: 180px;
	background: #ff99cc;
}

div>div{
	border: 1px solid;
	padding-top: 1%;
	padding-bottom: 2%;
	height: 10vh;
}
}
