body.questions-user_questions {
  min-height: 100vh;
  overflow: auto;
  min-width: 100vw;
  position: static;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #000;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  This messes up the styles for questions on the user-questions page
  but removing it messes up the nav-bar on that page. Look into it.
  */
}
