#term{
    width: 50%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; // very important
}

#term:focus {
    width: 70%; // very important
}

.navbar-left{
	width: 70%;
	left: 0%;
	padding-right: 0%;
	margin-right: 0%;

}

@media screen and (max-width: 760px){
	.navbar-left{
		width: 90%;
	}	
	
	#term{
		width: 60%;	
	}
	#term:focus{width: 60%;}
	.navbar-right{
	margin: 0;
	}		
}



@media screen and (min-width: 760px) and (max-width: 1060px) {
.navbar-left{width:  50%;}
.navbar-right{min-width: 45%;}

}



.navbar-right{
	width: 30%;
}

.navbar-right>li>a{
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-left>li{
	width: 100%;
}

#header_form{
width: 100%;	
	}
.header_container{
padding-left: 2%;

}

#options{
font-size: 10px;
font-weight: lighter;
}

.navbar-collapse{
background-color: aqua;
margin-top: -7px;
}

