body.sessions-new,
body.users-new {
	padding-top: 20px;
}


.welcome{

border: 1px solid;

text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);

}
.sign_in{
background-color: aqua;
	}

/*
html{
background-color: white;
}
*/

.facebook_sign_in{
background-color: blue;
}

.google_sign_in
{
	background-color: red;
}

.log_in_form{

border: 1px solid;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background-color: white;

background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);
}

/*
Sign Up
 */

.register-login-form {
	margin-top: 30px;
	 width: 100%;
}

.main-login-register {
	margin-top: 70px;
}

h1.register-login-title {
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	font-size: 36px;
	font-weight: 400;
}

hr.sign-line {
	margin-top: 10px;
	margin-bottom: 5px;
	border: 0;
	display: block;
	clear: both;
	width: 100%;
	background-color: #000;
	height: 1px;
}

.form-group{
	margin-bottom: 15px;
}

.control-label {
	margin-bottom: 15px;
}

.register-login-center{
 	margin: 50px auto 0 auto;
 	max-width: 380px;
  padding: 20px 20px;
}

.main-login-register{
 	background-color: #fff;
    /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

// check out vendor prefixes for placeholder

.input-container {
	width: 100%;
	height: 50px;
	position: relative;
}

input.register-login-input {
	box-sizing: border-box; // just to make sure padding doesn't increase width, remove it later
	display: inline-block;
	width: 87%;
	padding: 8px;
	height: 50px;
	border: 1px solid #c5ccd8;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: none;
	outline: none;
	background-color: #fff;
	font-size: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 15px;

	&::-webkit-input-placeholder
// find out why the things below don;t work
//	&::-moz-placeholder,
//	&:-moz-placeholder,
//	&:-ms-input-placeholder
//	&:-o-placeholder
	{
		color: #999999;
		font-weight: 300;
	}

	/*
	&:hover {
		box-shadow: 0 0 3px #c5ccd8;
	}
	&:focus {
		outline: none;
		border-color: #548be5;
		box-shadow: none;
	}
	*/
}

.input-icon {
	padding: 8px;
	display: inline-block;
	height: 50px;
	width: 11%;
	border: 1px solid #c5ccd8;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -1.1%;
	color: #c4c4c4;
	margin-left: 1.1%;
	margin-bottom: 15px;
}

/*
input.register-login-input::-webkit-input-placeholder {
	font-size: 11px;
  padding-top: 3px;
}
*/
.login-sign-up {
	font-size: 13px;
	text-align: center;
	a:link {
		color: #2b6dad;
		text-decoration: none;
	}

	a:hover,
	a:active {
		text-decoration: underline;
		cursor: pointer;
		background-color: inherit;
	}

	a:visited {
		color: #2b6dad;
	}
}

.additional-container {
	width: 100%;
	margin-bottom: 15px;
	.remember-container {
		margin-left: 1.1%;
		float: left;
	}
	.forgot-container {
		float: right;
		margin-right: 1%;
		a {
			text-decoration: none;
			font-size: 13px;
			color: #2b6dad;
			&:hover {
				cursor: pointer;
				color: #2b6dad;
				text-decoration: underline;
			}
		}
	}
}

input[type="checkbox"].remember-check-box {
	margin: 0;
	margin-right: 2px;
}

.form-text {
	font-size: 13px;
	font-weight: bold;
}

div.or-text {
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
}

/*
.sign_up_form
	{
		border: 1px solid;

text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background-color: white;

background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);
	}
*/
