.welcome{

border: 1px solid;

text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);

}
.sign_in{
background-color: aqua;
	}


html{
background-color: white;
}
	
.facebook_sign_in{
background-color: blue;
}	

.google_sign_in
{
	background-color: red;
}

.log_in_form{

border: 1px solid;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background-color: white;

background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);
}

.sign_up_form
	{	
		border: 1px solid;

text-align: center;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 30px;
padding-left: 30px;
background-color: white;

background: antiquewhite;
background: -webkit-linear-gradient(right,#FFFF66,#A9A9A9);
background: -o-linear-gradient(right,#FFFF66,#A9A9A9);
background: -moz-linear-gradient(right,#FFFF66,#A9A9A9);
background: linear-gradient(right,#FFFF66,#A9A9A9);
	}
