<div class = "col-md-2">
	<div id = "group_name">My groups</div><br>
	<% current_user.groups.each do |group| %>
		<strong class = "group_names"><%= link_to group.name ,group_path(group.id) %></strong>
		</br>
		<br>
	<% end %>
</div>

<div class= "col-md-8 body_container">
	<div id = "feed-posts">
	<%= render @feed %>
	</div>
	
	<div id = "infinite-scrolling">
		<%= will_paginate @feed %>
	</div>
	
</div>
<script type="text/javascript">
		CKEDITOR.config.height = '50px';
		
</script>
