<header class="nav-header">
  <nav>
    <div class="nav-row clearfloat">
      <div class="search-nav">
        <h1>LOGO</h1>
      </div>
      <div class="main-nav">
        <a href="#" class="nav-item"><i class="fa fa-home nav-item-icon" aria-hidden="true"></i>Home</a>
        <a href="#" class="nav-item"><i class="fa fa-pencil nav-item-icon" aria-hidden="true"></i>Write</a>
        <a href="#" class="nav-item">Ask</a>
        <a href="#" class="nav-item"><i class="fa fa-bell" aria-hidden="true"></i></a>
        <a href="#" class="nav-item" id="account">Account</a>
        <!--
          <span>ACCOUNT</span>&nbsp;<span class="caret"></span>
          <ul id="account-drop-down" class="hide-it"> <%# Change to class if u have more drop-downs %>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        -->
      </div>
      <a class="mobile-nav-icon"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
  </nav>

</header>



















<%#
<header class="navigation-bar">
  <nav class="navbar navbar-inverse navbar-fixed-top nav-customize">
    <div class="container-fluid nav-container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">LOGO</a>
      </div>
      <ul class="nav navbar-nav navbar-right nav-list">
        <li class="nav-list-item"><a href="#" class="nav-link"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
        <li class="nav-list-item"><a href="#" class="nav-link">WRITE</a></li>
        <li class="nav-list-item"><a href="#" class="nav-link">ASK</a></li>
        <li class="nav-list-item"><a href="#" class="nav-link"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
        <li class="nav-list-item"><a href="#" class="nav-link">ACCOUNT</a></li>
      </ul>
    </div>
  </nav>
</header>
%>
